# extra tex files
*.aux          
*.fls
*.fdb_latexmk  
*.log  
*.synctex.gz
*.tex
*.pdf

# permenant ignores
.hypothesis
.pytest_cache
__pycache__
*.pyc
*.so
*.egg-info
*.whl
/build/lib
/dist/
.ipynb_checkpoints
/tensorflow
.DS_Store
.mypy_cache/
.pytype/
/docs/build
*_pb2.py
/docs/notebooks/.ipynb_checkpoints/
/docs/_autosummary
.idea
.vscode
.envrc
jax.iml

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/